.insights-banner {
  background-image: url("../../img/news-banner.png");
  background-repeat: no-repeat;
  background-position: 130px bottom;
  background-size: 300px;
  min-height: 180px;

  @include for-size(500) {
    background-size: contain;
    background-position: top right;
  }

  @include for-size(small) {
    min-height: 216px;
    background-size: contain;
    background-position: top right;
  }

  @include for-size(medium) {
    min-height: 300px;
    background-size: 615px;
    background-position: right bottom;
  }
}

.insights-page {

  @include e(heading) {
    color: $primary-color;
    font: normal bold 32px/180px $font-family--primary-bold;

    @include for-size(small) {
      line-height: 216px;
    }

    @include for-size(medium) {
      font: normal bold 42px/300px $font-family--primary-bold;
    }

    @include for-size(large) {
      font-size: 50px;
      line-height: 300px;
    }
  }

  @include e(title) {
    margin-bottom: 20px;

    @include for-size(medium) {
      margin-bottom: 24px;
    }

    img {
      margin-right: 8px;

      @include for-size(medium) {
        margin-top: 8px;
      }
    }

    @include e(heading) {
      // font-size: 26px;
      color: $navy-blue;
      font-size: 16px;
      line-height: 24px;

      @include for-size(small) {
        font-size: 18px;
        line-height: 26px;
      }

      @include for-size(medium) {
        font-size: 26px;
        line-height: 40px;
      }
    }
  }
}

.insights {
  background-color: #f7f7f7;
  padding: 44px 0 80px;

  @include e(all) {
    margin-left: -10px;
    margin-right: -10px;
  }

  @include e(all-list) {
    float: left;
    width: 100%;
    margin-bottom: 28px;
    padding : 0 10px;
    display: inline-block;

    @include e(banner) {
      border-radius: 4px 4px 0 0;
      min-height: 200px;
      position: relative;
      background-size: cover !important;
      background-color: #00CCAE;
      background-position: center center !important;
    }

    @include for-size(small) {
      width: 50%;
    }

    @include for-size(medium) {
      width: 33%;
    }
  }

    // @include e(row) {
    //   > div {
    //   @include for-size(small) {
    //     width: 50%;

    //     // &:nth-of-type(1) {
    //     //   padding-right: 10px;
    //     // }

    //     // &:nth-of-type(2) {
    //     //   padding-left: 10px;
    //     // }
    //   }
    // }
 // }

  @include e(info-box) {
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
   
    @media (max-width: 500px) {
      height: auto !important;
    }

    @include e(title) {
      color: #0000ac;
      font: normal 400 22px/1.45 $font-family--primary-medium;

      @include for-size(medium) {
        font: normal 400 26px/1.54 $font-family--primary-medium;
      }
    }

    @include e(date) {
      margin: 8px 0 12px;
      color: #797c80;
      font: normal 400 12px $font-family--secondary;

      @include for-size(medium) {
        margin: 8px 0 16px;
        font: normal 400 14px $font-family--secondary;
      }
    }

    @include e(desc) {
      color: #797C80;
      font: normal 400 16px/24px $font-family--secondary;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-bottom: 16px;

      @include for-size(medium) {
        font: normal 400 18px/26px $font-family--secondary;
      }
    }

    @include e(read-more) {
      margin-top: auto;
      display: block;
      color: $primary-color;
      font: normal 400 16px/24px $font-family--secondary;

      @include for-size(medium) {
        font: normal 400 18px/26px $font-family--secondary;
      }

      @include e(icon) {
        margin-right: 8px;
        margin-left: 12px;
        font-family: $font-family--primary;
      }

      @include e(text) {
        width: calc(100% - 24px);
        float: left;

        @include m(full) {
          width: auto;
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;

        .insights__info-box__read-more__text,
        .insights__info-box__read-more__text--auto {
          text-decoration: underline;
        }
      }
    }
  }

  @include e(button-link) {
    margin: 20px auto 0;
    min-width: 138px;
    padding: 12px 32px;
    letter-spacing: 1px;
    background: transparent;
    text-transform: uppercase;
    font: normal normal 16px/1.15 $font-family--primary-medium;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 4px;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $egg-blue;
      color: $white;
      background-color: $primary-color;
    }
  }
}

.no-banner-logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}